.dropbtn {
    display: block;
	width: 228px;
	height: 59px;
	font-size: 16px;
	font-weight: 700;
    text-decoration: none;
	text-align: center;
	color: #000;
	background: url(../images/tooplate_menu.png) no-repeat;
    cursor: pointer;
	border: thick;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;

	right: 0 px;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: relative;
	top: 40 px;
	float : left;

	padding-left: 12 px;
    background-color: none;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
#checkboxes {
    color: red;
	background: none;
    text-decoration: none;
    display: block;
}
form li{
	width: 220px;
	font-size:17px;
	font-weight:500;
	font-size-adjust:inherit;
	font-variant:normal;
	font-stretch:wider;
	color: Black;
	background-color: #F8D99E;
	font-family:Georgia,Tahoma, Geneva, sans-serif;

	align-content:stretch;


}

form li:hover{
	cursor:pointer ;
background-color:red;
}
#Vbir:hover,#Vnan:hover,#Vpol:hover,#Vbpn:hover,Vppn:hover,#Vsan:hover,#Vdoi:hover {

	background-color: green;
}

.dropdown-content p {
	position : relative;

	right:0 px;
	display: compact;
}




/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: white;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
	position: relative;

	display:inline-block;}

#option {
	background:none;
}

input {
	background: none;
}

.tooltip{
    display: inline;
    position: relative;
}

.tooltip:hover:after{
   /* background: #333;*/
    background: #251C30;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
	font-size:14.5px;
}


.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

.bday:hover {
	opacity:0.3;
	cursor : pointer;
	cursor: hand;
	filter: alpha(opacity=60);
}

ol {
    list-style-type: none;
	position: relative;
	left: -35px;
	width: 355px;
}

ol li {
	background: #eeeeee;
	border-radius: 15px;
	border: 2px solid black;
	margin: 3px;
	padding: 0.4em;
	font-size: 1em;
	height: 20px;
	color: #CA850E;

	font-family: Verdana, Arial, Sans-Serif;
}

ol li:hover {
	background: #CD890E; color: white;
}



#text {
	top: 0px;
	margin-top: 0px;
	position:relative;
}

#fbp img{
	top: 100px;

}

.social-popout {
	height: 48px;
	width: 48px;
	margin: auto;
	display: block;
	margin-top: 350px;
	float: right;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.social-popout img {

	display:block;
	border-radius: 50%;
	margin: auto;
	width: 80%;


}
.social-popout img:hover {
	cursor:pointer;

}

.left-arrow {
	display: inline-block;
	position: relative;
	background: #D68F08;
	color: white;
	cursor: pointer;
	padding: 6px;
	margin-left: 25px;
	border-radius:10px
}
.left-arrow:after {
	content: '';
	display: block;
	position: absolute;
	right: 100%;
	top: 50%;

	margin-top: -10px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid #DC9204;
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;

}


#common {
	position: relative;
	height: 450px;
	width : 450px;
}


#forjan,#forfeb, #formar, #forapr , #formay, #forjun, #forjul, #foraug, #forsep, #foroct, #fornov, #fordec {

	display: none;

	position: absolute;
	height: 450px;
	width : 450px;
	background-color: #4C1500;

	margin-top: -440px;
}

#forfeb {
	z-index: 10 ;
}


#foodChecked {

	font-size:16px;
	font-style: Tahoma, Geneva, sans-serif;
	color: #6A1A0B;
	font-style:inherit;

}


#submitFoodform {
    padding:2px 4px;
    background:#CA850E;
    float:right;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

   #logouts {
     padding:4px 16px;
  background:#CA850E;

  border:0 none;
  font-weight: bold;
  font-size: 16px;
  margin-left: 1180px;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  }

#feedbackResult {
  font-style: Tahoma, Geneva, sans-serif;
  font-size:14px;
  color: black;
}

#ejs_name {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 29px;
	width : 100%;
	height: 110px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: small-caps;
	text-transform: capitalize;
	color: #000000;
	text-decoration: blink;
	background-position: right top;
	text-align:right;
	position: relative;
	top: -60px;


}

#processing {
  display : none;
  font-style: Tahoma, Geneva, sans-serif;
  font-size:16px;
  color: black;
  text-align:center;
  font-weight:bold;
}

#foodFormReply {
	font-style: Tahoma, Geneva, sans-serif;
  font-size:16px;
  color: black;
  text-align:center;
  font-weight:bold;
}

#rel {
	position:relative;
	top: -27px;
	height:8px;
	float: right;
	right: 0px;
	font-size: 12px;
}
